{erl_opts, [debug_info]}.

{deps, 
   [
      {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
      {erlydtl,   ".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.9.4"}  }}
   ]
}.

%% {deps, [
%% %    {syn,       ".*", {git, "git://github.com/ostinelli/syn",      {tag, "1.1.0"}  }},
%%     {erlydtl,   ".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.9.4"}  }},
%%     {fs,        ".*", {git, "git://github.com/synrc/fs",           {tag, "1.9"}    }},
%%     {sh,        ".*", {git, "git://github.com/synrc/sh",           {tag, "1.9"}    }},
%%     {mad,       ".*", {git, "git://github.com/synrc/mad",          {tag, "1.9"}    }},
%%     {active,    ".*", {git, "git://github.com/synrc/active",       {tag, "1.9"}    }},
%%     {nitro,     ".*", {git, "git://github.com/synrc/nitro",        {tag, "1.4"}    }},
%%     {n2o,       ".*", {git, "git://github.com/synrc/n2o",          {tag, "3.4"}    }},
%% %   {svg,       ".*", {git, "git://github.com/synrc/svg",          {tag, "master"} }},
%%     {kvs,       ".*", {git, "git://github.com/synrc/kvs",          {tag, "3.4"}    }}
%% %   {bootstrap, ".*", {git, "git://github.com/schlagert/bootstrap",{tag, "0.0.1"}  }}
%% %    {mochiweb,  ".*", {git, "git://github.com/mochi/mochiweb",     {tag, "master"} }}
%% ]}.


{plugins, [
    {rebar3_erlydtl_plugin, ".*",
     {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.


{provider_hooks, 
   [
      {pre, [{compile, {erlydtl, compile}}]}
   ]
}.

{erlydtl_opts,
   [
      {source_ext, ".dtl"},
      {module_ext, "_dtl"},
      {out_dir,    "ebin"},
      {compiler_options , [report, return, verbose, debug_info, debug_compiler]}
   ]
}.

{relx, [{release, { teller, "0.1.0" },
         [teller,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
